<template>
  <q-select outlined color="blue" bg-color="white" label-color="blue" option-label="nombre" v-model="model" :options="options" :dense="true" :options-dense="false" @update:model-value="(val) => { cambiadoPoryecto(val); }">
        <template v-slot:prepend>
          <q-icon name="event" />
        </template>
      </q-select>
</template>
<script>
import { ref, computed, onMounted } from 'vue'
import { useStore } from "vuex";
import { useQuasar, QSpinnerGears } from "quasar";
export default {
  setup () {
    const $q = useQuasar();
    const store = useStore();
    const allProyect = computed(() => store.getters['usuProyecto/allProyectUsuario'])
    const isActiveProyect = computed(() => store.getters['usuProyecto/proyectActive'])
    $q.loading.show({ spinnerColor: 'blue-10', backgroundColor: 'bg-fondo', message: 'Cargando Proyecto...'})
    onMounted(() => {
      store.dispatch("usuProyecto/getUsuProyectos").then(res=> {
        $q.loading.hide()
      })
    })

    const cambiadoPoryecto = async (val) => {
      $q.loading.show({ spinnerColor: 'blue-10', backgroundColor: 'bg-fondo', message: 'Acualizando Proyecto...'})
      await store.dispatch("usuProyecto/clearProyectoModulo");
        await store.dispatch("usuProyecto/updateUsuProyectos", val.uuid).then(res => {
          $q.loading.show({spinner: QSpinnerGears, spinnerColor: 'red', messageColor: 'black', backgroundColor: 'yellow', message: 'Cargando Modulos...'
          })
        })
        await store.dispatch("usuProyecto/getMenu").then(res=> {
          $q.loading.hide()
        })
    }

    return {
      cambiadoPoryecto,
      model: ref(isActiveProyect),
      options: allProyect
    }
  }
}
</script>
