<template>
  <q-btn :to="{ name: 'login' }" flat no-caps no-wrap v-if="$q.screen.gt.xs">
    <img src="~assets/img/servitral.png" :style="{ width: size+'px' }" />
  </q-btn>
  <!--
      <Suspense>
        <template #default>
          <MenuLogo />
        </template>
        <template #fallback>
          <q-card>
            <q-card-section style="width: 150px; padding: 0;">
              <q-skeleton type="QToolbar" />
            </q-card-section>
          </q-card>
        </template>
      </Suspense>
  -->
</template>
<script>
export default {
  props: ["size"]
}
</script>
