<template>
  <div class="row q-pa-sm bg-white">
    <div class="col-12 col-md-3 text-left text-caption">
      <q-breadcrumbs class="text-grey" active-color="primary">
        <template v-slot:separator>
          <q-icon size="1.5em" name="chevron_right" color="primary" />
        </template>
        <q-breadcrumbs-el
          label="Home"
          icon="home"
          class="cursor-pointer"
          to="/panel-usuario/home"
        />
        <q-breadcrumbs-el :to="`/panel-usuario/${route.meta.resource}`" :label="`${route.meta.resource}`" icon="widgets" />
        <q-breadcrumbs-el :label="`${route.meta.mode}`" icon="navigation" />
      </q-breadcrumbs>
    </div>
    <div class="col-12 col-md-9 text-right">
      <q-btn
        size="sm"
        color="light-blue-10"
        icon="mdi-plus"
        label="Nuevo"
        class="q-mx-sm no-border dashed bg-white"
        outline
        :to="`${route.meta.resource}/create`"
      />
      <template style="display: none" v-if="check_select.length > 0">
        <q-btn
          size="sm"
          push
          color="white"
          icon="mdi-pencil"
          text-color="green"
          class="q-mx-sm"
          label="editar"
        />
        <q-btn
          size="sm"
          push
          color="white"
          icon="mdi-eye"
          text-color="blue"
          class="q-mx-sm"
          label="ver"
        />
        <q-btn
          size="sm"
          push
          color="white"
          icon="mdi-delete"
          text-color="red"
          class="q-mx-sm"
          label="eliminar"
        />
      </template>
        <q-btn
        size="sm"
        color="green"
        icon="mdi-filter-outline"
        label="Filtrar"
        class="q-mx-sm no-border"
        outline
        />
        <q-icon size="sm" color="green" name="mdi-microsoft-excel cursor-pointer" class="q-mx-sm">
          <q-tooltip class="bg-gray">Exportar Excel</q-tooltip>
        </q-icon>
        <q-icon size="sm" color="red-10" name="mdi-file-pdf-outline" class="q-mx-sm">
          <q-tooltip class="bg-gray">Exportar PDF</q-tooltip>
        </q-icon>
        <q-icon
          size="sm"
          color="blue"
          name="mdi-refresh"
          class="q-mx-sm cursor-pointer"
        >
          <q-tooltip class="bg-gray">Actualizar Tabla</q-tooltip>
        </q-icon>
        <q-btn-dropdown
          size="sm"
          class="btn-config q-mx-sm"
          color="pink"
          push
          glossy
          dropdown-icon="mdi-dots-grid"
        >
          <q-list>
            <q-item v-close-popup>
              <q-item-section>
                <q-item-label v-for="(item, index) in 4" :key="index">
                  <q-checkbox
                    :val="item"
                    :label="item"
                    color="teal"
                  />
                </q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-btn-dropdown>

    </div>
  </div>
</template>
<script>
import { ref } from "vue";
import { useRoute } from "vue-router";
export default {
  //props: ["options", "isBottonActive", "check_select"],
  setup() {
    const check_select = ref(1)
    const route = useRoute();

    return {
      route,
      check_select
    };
  },
};
</script>
<style lang="sass">
.dashed:before
  border-style: dashed !important
</style>
