<template>
  <div class="row q-py-xs q-px-sm">
    <div class="col flex justify-between">
      <q-breadcrumbs-el
        class="text-bold text-blue-10"
        :label="`${route.meta.mode} ${route.meta.resource}`"
        icon="widgets"
      />
      <div>
        <q-btn flat color="primary" icon="mdi-arrow-left-box" size="sm" label="Volver" @click="volver" />
        <q-btn v-if="route.meta.mode == 'Ver' " flat color="green-6" icon="mdi-pencil-outline" size="sm" label="Edit" @click="edit()" />
      </div>
    </div>
  </div>
</template>
<script>
import { useRouter, useRoute } from "vue-router";
export default {
  setup() {
    const router = useRouter();
    const route = useRoute();
    const volver = () => {
      router.go(-1);
    };
    const edit = () => {
      router.push({ path: 'edit' })
    };
    return {
      router,
      route,
      volver,
      edit
    };
  },
};
</script>
