<template>
  <div>
    <div v-if="children.length == 0">
      <!--<q-item clickable @click="path(link)" v-ripple :inset-level="level" class="GPL__drawer-item">-->
      <q-item clickable :to="link" v-ripple :inset-level="level" class="GPL__drawer-item">
        <q-item-section>{{title}} </q-item-section>
      </q-item>
    </div>
    <div v-else>
      <q-expansion-item expand-separator :icon="icon" :label="title"  :header-inset-level="level"  default-closed>
        <EssentialLink v-for="child in children" :key="child" v-bind="child" class="GPL__drawer-item" />
      </q-expansion-item>
    </div>
  </div>
</template>
 <script>
 import { computed } from 'vue'
import { useRouter } from "vue-router";
export default {
  name: 'EssentialLink',
  props: {
    title: {
      type: String,
      required: true
    },

    caption: {
      type: String,
      default: ''
    },

    link: {
      type: String,
      default: '#'
    },

    icon: {
      type: String,
      default: ''
    },

    level: {
      type: String,
      default: ''
    },

    children: []
  },
  setup(props) {
    const router = useRouter();

    let a = router.currentRoute.value.meta.resource

    const p = computed(() => a == props.link ? "": props.link  )

    const path = (valor) => {
      if(p != valor){
        router.push(valor);
      }
    }

    return {
    }
  }
}
</script>
