<template>
  <q-layout view="hHh lpR fFf" class="bg-fondo">
    <q-page class="flex flex-center">
      <div class="q-pa-md shadow-5 rounded-borders bg-white" style="width: 320px">
        <q-form @submit="onSubmit">
          <div class="row" style="margin-top: -50px">
            <div class="col">
              <q-card class="shadow-10 bg-servitral">
                <q-card-section
                  class="flex justify-between rounded-borders bg-fondo-8"
                  style="padding: 6px 15px"
                >
                  <span style="font-size: 23px" class="text-white"> SERVITRAL </span>
                  <div class="bg-servitral text-color5 rounded-borders admin-panel">
                    Admin Panel
                  </div>
                </q-card-section>
              </q-card>
            </div>
          </div>
          <div class="row q-py-lg">
            <div class="col text-center">
              <q-icon name="fingerprint" class="cl-servitral-1" style="font-size: 45px" />
            </div>
          </div>
          <div class="row q-mb-md">
            <div class="col">
              <q-input
                color="text-color5"
                outlined
                dense
                v-model="form.usuario"
                prefix="Usuario:"
                :disable="loading"
                @keydown.enter.prevent="onSubmit()"
              >
                <template v-slot:prepend>
                  <q-icon name="verified_user" class="cl-servitral-1" />
                </template>
              </q-input>
            </div>
          </div>
          <div class="row q-my-md">
            <div class="col">
              <q-input
                outlined
                dense
                v-model="form.password"
                :type="isPwd ? 'password' : 'text'"
                prefix="Password:"
                :disable="loading"
                @keydown.enter.prevent="onSubmit()"
              >
                <template v-slot:prepend>
                  <q-icon name="lock" class="cl-servitral-1" />
                </template>
                <template v-slot:append>
                  <q-icon
                    :name="isPwd ? 'visibility_off' : 'visibility'"
                    class="cursor-pointer cl-servitral-1"
                    @click="isPwd = !isPwd"
                  />
                </template>
              </q-input>
              <small v-if="errores.length > 0" class="text-red text-center">
                {{ errores }}
              </small>
            </div>
          </div>
          <div class="row q-pb-lg">
            <div class="col text-center">
              <q-btn
                class="bg-servitral text-white"
                :loading="loading"
                @click="onSubmit()"
                icon-right="login"
                label="Ingresar"
              >
                <template v-slot:loading>
                  Cargando
                  <q-spinner-hourglass class="on-left q-ml-sm" />
                </template>
              </q-btn>
            </div>
          </div>

          <div class="row">
            <div class="col text-center">
              <q-item-label caption
                >©servitral.com 2007 -2021 <br />
                Todos los derechos reservados</q-item-label
              >
            </div>
          </div>
        </q-form>
      </div>
    </q-page>
  </q-layout>
</template>
<script>
import { reactive, ref, toRefs } from "vue";
import useVuelidate from "@vuelidate/core";
import { required, minLength, maxLength } from "@vuelidate/validators";
import { useRouter } from "vue-router";
import { useStore } from "vuex";

export default {
  name: "Login",
  setup() {
    const router = useRouter();
    const store = useStore();

    const oterData = reactive({
      isPwd: true,
      loading: false,
      errores: "",
    });
    const form = reactive({
      usuario: "",
      password: "",
    });

    const rules = {
      usuario: { required, minLength: minLength(3), maxLength: maxLength(15) },
      password: { required, minLength: minLength(4), maxLength: maxLength(20) },
    };

    const v$ = useVuelidate(rules, form);

    const onSubmit = () => {
      v$.value.$touch();
      if (v$.value.$invalid) return;
      oterData.loading = true;


       store
        .dispatch("login/loginUser", form)
        .then((res) => {
          if (res.user.tipousuario === 2) {
            router.push("/panel-admin");
            //window.location.href = "/panel-admin"
          } else {
            //window.location.href = "/mis-proyectos"
            router.push("/mis-proyectos");
          }
        })
        .catch((error) => {
          /*if (error.response.status == 500) {
            alert("servidor no responde");
          } else {
          }*/
          console.log(error);
        })
        .finally(() => {
          //loading.value = false;
          oterData.loading = false;
        });

      //router.push("/mis-proyectos");

    };

    return {
      ...toRefs(oterData),
      form,
      v$,
      onSubmit,
    };
  },
};
</script>
<style lang="sass" scoped>
.admin-panel
  background: white
  padding: 1px 20px
  height: max-content
  margin-top: 8px
  font-size: 11px
.error
  border: 2px solid red
  border-radius: 4px
.my-sticky-column-table
  max-width: 600px
  thead tr:first-child th:first-child
    background-color: #fff
  td:first-child
    background-color: #f5f5dc
  th:first-child,
  td:first-child
    position: sticky
    left: 0
    z-index: 1
</style>
