<template>
  <div class="q-pa-md">
    <div class="row">
      <div v-for="(item, index) in cpsModuls" :key="index" :class="[item.nombre == 'Proyectos'?'col-6':'col-3']">
        <q-item clickable push @click="modulos(item.path)" class="bg-white shadow-3 flex items-center justify-center rounded-borders q-mr-md q-py-xl q-mb-md">
          <img :src="item.icon" spinner-color="white" :style="[item.nombre == 'Proyectos'?'width: 9%':'width: 20%']" />
          <div class="text-weight-medium q-pl-md txt-color-7">
            {{ item.nombre === 'Proyectos' ? '':'Modulo' }} <br> {{item.nombre}}
          </div>
        </q-item>
      </div>
    </div>
  </div>
</template>
<script>
import composableModuls  from '../../composables/configModuls'
import { useRouter } from "vue-router";
export default {
  setup() {
    const router = useRouter();
    const { cpsModuls } = composableModuls();
    const modulos = (data) => {
      /*emitter.emit('isActiveModuls', true)
      SessionStorage.set('keydo', true)*/
      router.push({ path: data });
    }
    return {
      modulos,
      cpsModuls
    }
  }
}
</script>
