<template>
  <q-page class="flex flex-center bg-inicio">
    <div class="row text-center">
      <div class="col-12">
        <img src="~assets/img/servitral.png" class="size-logo" />
      </div>
      <div class="col-12 q-mt-md">
        <q-btn to="/login" push size="sm" color="deep-purple-7" icon-right="send" label="Ingresar" />
      </div>
    </div>
  </q-page>
</template>
<script>
import { useRouter } from "vue-router";
export default {
  name: "Index",
  setup() {
    const router = useRouter()
    /*setInterval(() => {
      router.push("/login");
    }, 2000)*/
  }
}
</script>
