<template>
  <q-layout view="hHh lpR fFf" class="bg-fondo">
    <q-page class="flex flex-center">
      <q-markup-table class="shadow-5" flat bordered>
        <thead class="bg-servitral">
          <tr>
            <th colspan="5">
              <div class="row no-wrap items-center justify-between">
                <div class="text-h6 text-bold text-white q-pr-lg">
                  MIS PROYECTOS<q-icon class="cursor-pointer q-pl-sm" name="mdi-rotate-left" size="sm" color="blue" @click="updateProyect" /></div>
                <q-btn-dropdown class="glossy" color="cyan-14" label="Mi Cuenta">
                  <div class="row justify-center q-pa-md">
                    <div class="column" v-if="store.state.login.user.tipousuario == 2">
                      <div class="text-h6 q-mb-md">Settings</div>
                      <q-item clickable v-ripple to="/panel-admin">
                        <q-item-section avatar>
                          <q-icon color="cyan-14" name="home" />
                        </q-item-section>
                        <q-item-section>Panel principal</q-item-section>
                      </q-item>
                    </div>
                    <q-separator vertical inset class="q-mx-lg" v-if="store.state.login.user.tipousuario == 2" />

                    <div class="column items-center">
                      <q-avatar size="72px">
                        <img src="https://cdn.quasar.dev/img/boy-avatar.png" />
                      </q-avatar>

                      <div class="text-subtitle1 q-mt-md q-mb-xs"> {{store.state.login.user.nombre}} </div>

                      <q-btn
                        @click="logout"
                        color="cyan-14"
                        label="Cerrar Session"
                        push
                        size="sm"
                        v-close-popup
                      />
                    </div>
                  </div>
                </q-btn-dropdown>
              </div>
            </th>
          </tr>

          <tr class="text-white">
            <th class="text-left">#</th>
            <th class="text-center">PROYECTOS</th>
            <th class="text-center">ESTADO</th>
            <th class="text-center">OPCIONES</th>
          </tr>
        </thead>
        <table-reload  v-if="loadingGetProyecto" :TR="3" :TD="4" />
        <tbody v-else class="bg-fondo">
          <tr v-if="allProyect.length == 0">
            <td colspan="4"> <strong class="text-red">Lo sentimos...!</strong> No tiene proyectos activados.</td>
          </tr>
          <tr v-else v-for="item in allProyect" :key="item" class="text-color4">
            <td class="text-left">1</td>
            <td class="text-center">
              {{ item.proyecto.nombre }}
            </td>
            <td class="text-center">
              <q-badge  outline :color="item.proyecto.estado == 1? 'green-6':'red' " :label="item.proyecto.estado == 1? 'ACTIVADO':'DESACTIVADO' "/>
            </td>
            <td class="text-right">
              <q-btn :disable="loading? true:false" class="bg-servitral text-white" :loading="loading == item.uuid? true:false" @click="activarProyecto(item.uuid)" icon-right="login" :label="loading == item.uuid? 'Cargando...':'Ingresar'">
                <template v-slot:loading>
                  {{ loading == item.uuid? 'Cargando...':'Ingresar'}}
                  <q-spinner-hourglass class="on-left q-ml-sm" />
                </template>
              </q-btn>
            </td>
          </tr>
        </tbody>
      </q-markup-table>
    </q-page>
  </q-layout>
</template>
<script>
import { ref, toRefs, reactive, onMounted, computed } from "vue";
import { useQuasar } from "quasar";
import { useRouter } from "vue-router";
import { useStore } from "vuex";
import TableReload from 'src/components/global/laoder/TableReload.vue';
import composableLogout from '../composables/logout'

export default {
  name:"MyProyect",
  components: { TableReload },
  setup() {
    const router = useRouter();
    const store = useStore();
    const loading = ref('');
    const $q = useQuasar();
    const loadingGetProyecto = ref(true)

    const { logout } = composableLogout()

    const allProyect = computed(() => store.getters['usuProyecto/proyectosUsuarios'])

    onMounted(async () => {
      endPointProyecto();
    });

    const updateProyect = async () => {
      $q.loading.show({ spinnerColor: 'blue-10', backgroundColor: 'bg-fondo', message: 'Actualizando proyecto...'})
      endPointProyecto();
    };

    const endPointProyecto = async () =>{
      await store.dispatch("usuProyecto/resetProyecto").then((res) => {
        if(res.data.length == 0){
          $q.notify({
            type: "positive",
            position: "top-right",
            timeout: 1000,
            message: "No tiene proyectos actualmente.",
          });
        }else{
          $q.notify({
            type: "positive",
            position: "top-right",
            timeout: 1000,
            message: "Proyectos cargados !",
          });
        }
        $q.loading.hide()
        loadingGetProyecto.value = false
        
      })
      
    }

    const activarProyecto = async (uuid) => {
      loading.value = uuid
      $q.loading.show({ spinnerColor: 'blue-10', backgroundColor: 'bg-fondo', message: 'Cargando modulos...'})
      await store.dispatch("usuProyecto/updateUsuProyectos", uuid);
        await router.push("/panel-usuario");
        $q.loading.hide()
    }

    return {
      store,
      loading,
      allProyect,
      loadingGetProyecto,
      logout,
      updateProyect,
      activarProyecto,
    };
  },
};
</script>
<style lang="sass">
.hijo
  position: absolute
  top: 50%
  left: 50%
  height: 30%
  width: 50%
  margin: -15% 0 0 -25%
</style>
