<template>
  <path-name />
  <q-card class="my-card q-mx-xs bg-white">
    <q-card-section>
      <div class="row">
        <div class="col q-pr-sm">
          <div class="text-caption text-grey-8">Nombre (*)</div>
          <q-input
            outlined
            :dense="true"
          />
        </div>
        <div class="col q-pr-sm">
          <div class="text-caption text-grey-8">Departamento</div>
          <q-select
            outlined
            :dense="true"
            use-input
            hide-selected
            fill-input
            input-debounce="0"
            :options="options"
            @filter="filterFn"
          >
            <template v-slot:no-option>
              <q-item>
                <q-item-section class="text-grey"> No results </q-item-section>
              </q-item>
            </template>
          </q-select>
        </div>
        <div class="col q-pr-sm">
          <div class="text-caption text-grey-8">Provincia</div>
          <q-select
            class="shadow"
            outlined
            :dense="true"
            use-input
            hide-selected
            fill-input
            input-debounce="0"
            :options="options"
            @filter="filterFn"
          >
            <template v-slot:no-option>
              <q-item>
                <q-item-section class="text-grey"> No results </q-item-section>
              </q-item>
            </template>
          </q-select>
        </div>
        <div class="col">
          <div class="text-caption text-grey-8">Distrito</div>
          <q-select
            class="shadow"
            outlined
            :dense="true"
            use-input
            hide-selected
            fill-input
            input-debounce="0"
            :options="options"
            @filter="filterFn"
          >
            <template v-slot:no-option>
              <q-item>
                <q-item-section class="text-grey"> No results </q-item-section>
              </q-item>
            </template>
          </q-select>
        </div>
      </div>
      <div class="row q-py-xs">
        <div class="col q-pr-sm">
          <div class="text-caption text-grey-8">Proveedor (*)</div>
            <q-select
            class="shadow"
            outlined
            :dense="true"
            use-input
            hide-selected
            fill-input
            clearable
            input-debounce="0"
            option-value="id"
            option-label="razonsocial"
            :options="optionsProveedor"
            @filter="filterProveedor"
          >
            <template v-slot:no-option>
              <q-item>
                <q-item-section class="text-grey"> No results </q-item-section>
              </q-item>
            </template>
          </q-select>
        </div>
        <div class="col q-pr-sm">
          <div class="text-caption text-grey-8">Fecha inicio (*)</div>
          <q-input type="date" outlined :dense="true" />

        </div>
        <div class="col q-pr-sm">
          <div class="text-caption text-grey-8">Fecha final (*)</div>
          <q-input type="date" outlined v-model="formCreateProyect.fechafinal" :dense="true" />

        </div>
        <div class="col">
          <div class="text-caption text-grey-8">Estado (*)</div>
          <q-select
            outlined
            :dense="true"
            use-input
            hide-selected
            fill-input
            input-debounce="0"
            :options="options"
            @filter="filterFn"
          >
            <template v-slot:no-option>
              <q-item>
                <q-item-section class="text-grey"> No results </q-item-section>
              </q-item>
            </template>
          </q-select>
        </div>
      </div>

      <div class="row">
        <div class="col q-pr-sm">
          <div class="text-caption text-grey-8">Almacen sigla (*)</div>
          <q-input outlined :dense="true" />

        </div>
        <div class="col q-pr-sm">
          <div class="text-caption text-grey-8">Almacen serie (*)</div>
          <q-input type="number" outlined :dense="true" />

        </div>
        <div class="col q-pr-sm">
          <div class="text-caption text-grey-8">Compra sigla (*)</div>
          <q-input outlined :dense="true" />

        </div>
        <div class="col q-pr-sm">
          <div class="text-caption text-grey-8">Compra serie (*)</div>
          <q-input type="number" outlined :dense="true" />

        </div>
        <div class="col q-pr-sm">
          <div class="text-caption text-grey-8">Caja sigla (*)</div>
          <q-input outlined :dense="true" />

        </div>
        <div class="col">
          <div class="text-caption text-grey-8">Caja serie (*)</div>
          <q-input type="number" outlined :dense="true" />

        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="text-caption text-grey-8">Observaciones</div>
          <q-input
            outlined
            type="textarea"
            rows="2"
            style="resize: none"
          />
        </div>
      </div>
      <div class="row q-pt-md">
        <div class="col flex items-center justify-end">
          <q-btn
            push
            color="red-1"
            class="q-mr-sm"
            text-color="red"
            label="Cancelar"
          />
          <q-btn push color="blue-10" text-color="white" label="Guardar" />
        </div>
      </div>
    </q-card-section>
  </q-card>
</template>
<script>
import { ref, reactive } from "vue";
import { useRouter } from "vue-router";
import PathName from "../../../../../components/global/options/CrutPathRoute";
const stringOptions = ["Google", "Facebook", "Twitter", "Apple", "Oracle"];
import { api } from "boot/axios";

import useVuelidate from "@vuelidate/core";
import { required, minLength, maxLength } from "@vuelidate/validators";

export default {
  name: "create",
  components: {
    PathName,
  },
  setup() {
    const router = useRouter();
    const text = ref("");
    const model = ref("");
    const options = ref(stringOptions);

    const optionsProveedor = ref([])
    const stringOptionsProveedor = ref([])

    const formCreateProyect = reactive({
      nombre: "",
      departamento: "",
      provincia: "",
      distrito: "",
      proveedor: "",
      fechainicial: "",
      fechafinal: "",
      estado: "",
      alm_sigla: "",
      alm_serie: "",
      com_sigla: "",
      com_serie: "",
      caj_sigla: "",
      caj_serie: "",
      observaciones: "",
    });

    const rules = {
      nombre: { required, minLength: minLength(3), maxLength: maxLength(15) },
      proveedor: { required },
      fechainicial: { required },
      fechafinal: { required },
      estado: { required },
      alm_sigla: { required, minLength: minLength(2), maxLength: maxLength(10) },
      alm_serie: { required, minLength: minLength(1), maxLength: maxLength(10) },
      com_sigla: { required, minLength: minLength(2), maxLength: maxLength(10) },
      com_serie: { required, minLength: minLength(1), maxLength: maxLength(10) },
      caj_sigla: { required, minLength: minLength(2), maxLength: maxLength(10) },
      caj_serie: { required, minLength: minLength(1), maxLength: maxLength(10) },
    };

    const v$ = useVuelidate(rules, formCreateProyect);

    const filterFn = (val, update, abort) => {
      update(() => {
        const needle = val.toLowerCase();
        options.value = stringOptions.filter((v) => v.toLowerCase().indexOf(needle) > -1);
      });
    };

    const volver = () => {
      router.go(-1);
    };

    const filterProveedor = async (val, update, abort)=>  {
      if(optionsProveedor.value.length === 0){
        await api.get('api/proveedor').then(res => {
           stringOptionsProveedor.value = res.data.collection.data.map(prov => {
            return {razonsocial: prov.razonsocial, value: prov.uuid}
          })
        })
      }
      if (val === '') {
        update(() => {
          let data = stringOptionsProveedor.value.map(prov => {
            return {razonsocial: prov.razonsocial, value: prov.uuid}
          })
          optionsProveedor.value = data
        })
      }/* else if (stringOptionsProveedor.value.length === 0) {
        update(() => { optionsProveedor.value = []})
      }*/ else {
            update(() => {
              optionsProveedor.value = stringOptionsProveedor.value.map(prov => {
                return {razonsocial: prov.razonsocial, value: prov.uuid}
              }).filter(a => {
                return a && a.razonsocial.toLowerCase().indexOf(val.toLowerCase()) !== -1
              })
            })
          }
    }

    const onSubmit = () => {
      v$.value.$touch();
      if (v$.value.$invalid) return;
      loading.value = true;

    };

    return {
      text,
      formCreateProyect,
      options,
      filterFn,
      volver,
      onSubmit,
      v$,
      filterProveedor,
      optionsProveedor,
      stringOptionsProveedor
    };
  },
};
</script>
<style lang="sass">


</style>


