<template>
  <!--<q-markup-table separator="cell" bordered class="my-sticky-column-table">
    <thead class="bg-blue-1 roundeds">
      <tr class="text-center text-bold">
        <th v-for="(x, index) in 6" :key="index">
          <div class="flex items-center justify-center">
            <label class="q-pr-sm text-uppercase">{{ x }}</label>
            <q-icon
              name="mdi-order-alphabetical-ascending"
              class="cursor-pointer iconFlecha"
            />
          </div>
        </th>
      </tr>
    </thead>
  </q-markup-table>-->
  <q-markup-table separator="cell" bordered class="my-sticky-column-table">
    <thead class="bg-blue-1 roundeds">
      <tr class="text-center text-bold">
        <th v-for="(x, index) in totalColumnas" :key="index" :style="{width: x['width'] }">
          <div class="flex items-center justify-center">
            <label class="q-pr-sm text-uppercase">{{ x["label"] }}</label>
            <q-icon
              v-if="query.order_direction === 'asc'"
              name="mdi-order-alphabetical-ascending"
              class="cursor-pointer iconFlecha"
              @click="updateOrderColumn(x['column'])"
            />
            <q-icon
              v-else
              name="mdi-order-alphabetical-descending"
              class="cursor-pointer iconFlecha"
              @click="updateOrderColumn(x['column'])"
            />
          </div>
        </th>
      </tr>
    </thead>
    <tbody v-if="loading" class="bg-white">
      <template class="text-center" v-for="item in collection['data']" :item="item">
        <slot :item="item"></slot>
      </template>
    </tbody>
    <TableReload v-else :TR="6" :TD="totalColumnas.length" />
    <tfoot>
      <tr>
        <td colspan="100" style="border-top: 1px solid #e0e0e0">
          <div class="row items-center justify-end">
            <small v-if="loading === 'nodata' " class="text-red">👉 😭 No se encontro datos</small>
            <div class="q-table__separator col"></div>
            <div class="q-table__control q-mr-sm maxi">
              <span class="q-table__bottom-item text-caption">Filas por página:</span>
              <q-select
                outlined
                v-model="query.limit"
                :options="options"
                @update:model-value="updateLimit()"
                :dense="true"
                :options-dense="true"
              />
            </div>
            <div class="q-table__control">

              <span class="q-table__bottom-item text-caption">
                Demostración {{ collection['from'] }} - {{ collection['to'] }} de
                {{ collection['total'] }} entradas
              </span>

              <button
                class="q-btn q-btn-item non-selectable no-outline q-btn--flat q-btn--round text-grey-8 q-btn--actionable q-focusable q-hoverable q-btn--dense"
                tabindex="-1"
                type="button"
                role="button"
                style="font-size: 10px"
                :disabled="collection['prev_page_url'] ? false : true"
                @click="prevPage()"
              >
                <span class="q-focus-helper"></span>
                <span
                  class="q-btn__content text-center col items-center q-anchor--skip justify-center row"
                >
                  <svg class="q-icon" aria-hidden="true" role="img" viewBox="0 0 24 24">
                    <path
                      d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z"
                    ></path>
                  </svg>
                </span>
              </button>
              <button
                class="q-btn q-btn-item non-selectable no-outline q-btn--flat q-btn--round text-grey-8 q-btn--actionable q-focusable q-hoverable q-btn--dense"
                tabindex="0"
                type="button"
                role="button"
                style="font-size: 10px"
                :disabled="collection['next_page_url'] ? false : true"
                @click="nextPage()"
              >
                <span class="q-focus-helper"></span
                ><span
                  class="q-btn__content text-center col items-center q-anchor--skip justify-center row"
                  ><svg class="q-icon" aria-hidden="true" role="img" viewBox="0 0 24 24">
                    <path
                      d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"
                    ></path></svg
                ></span>
              </button>
            </div>
          </div>
        </td>
      </tr>
    </tfoot>
  </q-markup-table>
</template>
<script>
import TableReload from '../../../../../components/global/laoder/TableReload.vue';
export default {
  props: {
    url: String,
    filterGroups: Array,
    orderables: Array,
  },
  components: { TableReload },
  setup(props) {
    const {
      globalVal,
      query,
      fetchOperators,
      updateLimit,
      nextPage,
      prevPage,
      updateOrderColumn,
      selectColumn,
      selectOperator,
      applyFilter,
      resetFilter,
      addFilter,
      removeFilter,
      totalColumnas
    } = filterable(props.url, props.orderables)

    return {
      ...toRefs(globalVal),
      query,
      fetchOperators,
      updateLimit,
      nextPage,
      prevPage,
      updateOrderColumn,
      selectColumn,
      selectOperator,
      applyFilter,
      resetFilter,
      addFilter,
      removeFilter,
      totalColumnas
  }
  }


}
</script>
