<template>
  <path-name />
  <q-card class="my-card q-mx-xs bg-grey-2">
    <q-card-section>
      <div class="row">
        <div class="col q-pr-sm">
          <div class="text-caption text-grey-8">Nombre (*)</div>
          <q-input class="shadow" outlined :dense="true" readonly />
        </div>
        <div class="col q-pr-sm">
          <div class="text-caption text-grey-8">Departamento</div>
          <q-select
            class="shadow"
            outlined
            :dense="true"
            v-model="model"
            use-input
            hide-selected
            fill-input
            input-debounce="0"
            :options="options"
            @filter="filterFn"
            readonly
          >
            <template v-slot:no-option>
              <q-item>
                <q-item-section class="text-grey"> No results </q-item-section>
              </q-item>
            </template>
          </q-select>
        </div>
        <div class="col q-pr-sm">
          <div class="text-caption text-grey-8">Provincia</div>
          <q-select
            class="shadow"
            outlined
            :dense="true"
            v-model="model"
            use-input
            hide-selected
            fill-input
            input-debounce="0"
            :options="options"
            @filter="filterFn"
            readonly
          >
            <template v-slot:no-option>
              <q-item>
                <q-item-section class="text-grey"> No results </q-item-section>
              </q-item>
            </template>
          </q-select>
        </div>
        <div class="col">
          <div class="text-caption text-grey-8">Distrito</div>
          <q-select
            class="shadow"
            outlined
            :dense="true"
            v-model="model"
            use-input
            hide-selected
            fill-input
            input-debounce="0"
            :options="options"
            @filter="filterFn"
            readonly
          >
            <template v-slot:no-option>
              <q-item>
                <q-item-section class="text-grey"> No results </q-item-section>
              </q-item>
            </template>
          </q-select>
        </div>
      </div>
      <div class="row q-py-xs">
        <div class="col q-pr-sm">
          <div class="text-caption text-grey-8">Proveedor (*)</div>
          <q-input class="shadow" outlined v-model="text" :dense="true" readonly />
        </div>
        <div class="col q-pr-sm">
          <div class="text-caption text-grey-8">Fecha inicio (*)</div>
          <q-input
            class="shadow"
            type="date"
            v-model="text"
            outlined
            :dense="true"
            readonly
          />
        </div>
        <div class="col q-pr-sm">
          <div class="text-caption text-grey-8">Fecha final (*)</div>
          <q-input
            class="shadow"
            type="date"
            outlined
            v-model="text"
            :dense="true"
            readonly
          />
          <!--<small class="text-red">Campo requerido</small>-->
        </div>
        <div class="col">
          <div class="text-caption text-grey-8">Estado (*)</div>
          <q-select
            class="shadow"
            outlined
            :dense="true"
            v-model="model"
            use-input
            hide-selected
            fill-input
            input-debounce="0"
            :options="options"
            @filter="filterFn"
            readonly
          >
            <template v-slot:no-option>
              <q-item>
                <q-item-section class="text-grey"> No results </q-item-section>
              </q-item>
            </template>
          </q-select>
        </div>
      </div>

      <div class="row">
        <div class="col q-pr-sm">
          <div class="text-caption text-grey-8">Almacen sigla (*)</div>
          <q-input class="shadow" outlined v-model="text" :dense="true" readonly />
        </div>
        <div class="col q-pr-sm">
          <div class="text-caption text-grey-8">Almacen serie (*)</div>
          <q-input class="shadow" outlined v-model="text" :dense="true" readonly />
        </div>
        <div class="col q-pr-sm">
          <div class="text-caption text-grey-8">Compra sigla (*)</div>
          <q-input class="shadow" outlined v-model="text" :dense="true" readonly />
        </div>
        <div class="col q-pr-sm">
          <div class="text-caption text-grey-8">Compra serie (*)</div>
          <q-input class="shadow" outlined v-model="text" :dense="true" readonly />
        </div>
        <div class="col q-pr-sm">
          <div class="text-caption text-grey-8">Caja sigla (*)</div>
          <q-input class="shadow" outlined v-model="text" :dense="true" readonly />
        </div>
        <div class="col">
          <div class="text-caption text-grey-8">Caja serie (*)</div>
          <q-input class="shadow" outlined v-model="text" :dense="true" readonly />
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="text-caption text-grey-8">Observaciones</div>
          <q-input
            v-model="text"
            outlined
            type="textarea"
            rows="2"
            style="resize: none"
            readonly
          />
        </div>
      </div>

      <div class="row q-pt-md">
        <div class="col flex items-center justify-end">
          <q-btn
            push
            color="red-1"
            class="q-mr-sm"
            text-color="red"
            label="Cancelar"
            @click="volver()"
          />
          <q-btn push color="blue-10" text-color="white" label="Guardar" />
        </div>
      </div>
    </q-card-section>
  </q-card>
</template>
<script>
import { ref, toRefs, onMounted } from "vue";
import { useRouter, useRoute } from "vue-router";
import PathName from "../../../../../components/global/options/CrutPathRoute.vue";
const stringOptions = ["Google", "Facebook", "Twitter", "Apple", "Oracle"];
//import { api } from "boot/axios";

//import validateFrom from "../../../../../composables/Moduls/Administrativo/Proyecto/validateFrom";

export default {
  name: "show",
  components: {
    PathName,
  },
  setup() {
    const router = useRouter();
    const route = useRoute();
    const text = ref("");
    const model = ref("");
    const options = ref(stringOptions);

    const dataProyecto = ref('')

    //const { formCreateProyect } = validateFrom(dataProyecto);


    const filterFn = (val, update, abort) => {
      update(() => {
        const needle = val.toLowerCase();
        options.value = stringOptions.filter((v) => v.toLowerCase().indexOf(needle) > -1);
      });
    };

    const volver = () => {
      //router.push("/panel-usuario");
      router.go(-1);
    };

    return {
      text,
      model,
      options,
      filterFn,
      volver,
      //...toRefs(formCreateProyect)
    };
  },
};
</script>

