// app global css in SCSS form
.bg-servitral {
  background: $ser-1;
}
.bg-inicio{
  background: $ser-0
}
.bg-fondo{
  background: $fondo-general
}
.bg-table{
  background: $fondo-table
}
.cl-servitral {
  color: $ser-4;
}
.cl-servitral-1{
  color: $ser-5
}
.bg-raya{
  background: $ser-2;
}
