// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #1976D2;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

/* PERSONALIZADO */

  $ser-0: #000D20;

  $ser-1: #4F5B91;
  $ser-2: #465181;
  $ser-3: #3E4873;
  $ser-4: #374066; // use
  $ser-5: #7b85b1; // use

  $fondo-general: #E8EBF3; // use
  $fondo-table: #E9F8FF; // use
