<template>
  <btnCrud />
  <div class="q-pa-md">
    <!--
    <q-btn color="primary"   :to="`${pathActual}/create`" icon="mail" label="create" />
    <q-btn class="q-mx-md"   :to="`${pathActual}/dsfsfsdgsdfgsd/show`" color="secondary" icon-right="mail" label="show" />
    <q-btn color="secondary" :to="`${pathActual}/sadfsdf54545as5d/edit`" icon-right="mail" label="edit" />
    -->
    <Filterable v-bind="filterable" v-slot="{ item }">
       <tr
      class="text-center cursor-pointer"
      :class="[check_select.includes(item.uuid) ? 'bg-grey-3' : 'bg-white']"
      @click="check(item.uuid)"
    >
      <td class="border" :hidden="filterable.orderables[0].hidden">
        <q-checkbox v-model="check_select" :val="item.id" size="xs" disable />
      </td>
      <td class="border" :hidden="filterable.orderables[1].hidden">{{ item.nombre }}</td>
      <td class="border" :hidden="filterable.orderables[2].hidden">
        aa
      </td>
      <td class="border" :hidden="filterable.orderables[3].hidden">
        <area shape="" coords="" href="" alt="">
      </td>
      <td class="border" :hidden="filterable.orderables[4].hidden">
        aaa
      </td>
      <td class="border" :hidden="filterable.orderables[5].hidden">
        aa
      </td>
      <td class="border" :hidden="filterable.orderables[6].hidden">
        aa
      </td>
      <td class="border" :hidden="filterable.orderables[7].hidden">
        a
      </td>
      <td class="border" :hidden="filterable.orderables[8].hidden">
        adasd
      </td>
      <td class="border" :hidden="filterable.orderables[9].hidden">
        afsdf
      </td>
      <td class="border" :hidden="filterable.orderables[10].hidden">
        adsasd
      </td>
      <td class="border" :hidden="filterable.orderables[11].hidden">
        asdasd
      </td>
      <td class="border" :hidden="filterable.orderables[12].hidden">
        asdasd
      </td>
      <td class="border" :hidden="filterable.orderables[13].hidden">
        asdasd
      </td>
      <td class="border" :hidden="filterable.orderables[14].hidden">
        asdasd
      </td>
      <td class="border" :hidden="filterable.orderables[15].hidden">
        <q-badge v-if="item.estado == 0" outline color="red" label="DESACTIVADO" />
        <q-badge v-else-if="item.estado == 1" outline color="green" label="ACTIVO" />
        <q-badge v-else-if="item.estado == 2" outline color="orange" label="PROCESO" />
        <q-badge v-else outline color="blue" label="MANTENIMIENTO" />
      </td>
      <td class="border" :hidden="filterable.orderables[16].hidden">
        adsasdasd
      </td>
      <td
        class="border"
        :hidden="filterable.orderables[17].hidden"
        @click="check(item.uuid)"
      >
        <q-btn flat size="sm" class="q-px-sm" color="warning" icon="mdi-pencil" />
        <q-btn flat size="sm" class="q-px-sm q-mx-xs" color="blue" icon="mdi-eye"  />
        <q-btn flat size="sm" class="q-px-sm" color="red" icon="mdi-delete" />
      </td>
    </tr>
    </Filterable>
  </div>
</template>
<script>
import { ref, computed } from "vue";
import { useRouter } from "vue-router";
import Filterable from "./partial/filterable.vue";
import btnCrud from "../../../../components/global/options/btnCrud.vue";
import configSubmoduls from '../../../../composables/configSubmoduls'

export default {
  components: {
    Filterable,
    btnCrud,
  },
  setup() {
    const router = useRouter();
    const pathActual = computed(() => router.currentRoute.value.meta.resource);

    const { check_select, filterable, check } = configSubmoduls('proyectos')


    return {
      pathActual,
      check_select,
      filterable,
      check
    };
  },
};
</script>
