<template>
  <q-layout view="lHh Lpr lFf" class="bg-fondo">
    <q-header elevated class="bg-servitral">
      <q-bar style="height: 50px">
        <menuLogo :size="140" class="q-mr-sm" />
        <menuProyect style="width: 200px" />
        <q-space />
        <q-btn color="purple" round>
          <q-avatar size="42px">
            <img src="https://cdn.quasar.dev/img/avatar4.jpg" />
          </q-avatar>
          <q-menu fit >
            <q-list style="min-width: 100px">
              <q-item clickable v-close-popup>
                <q-item-section>New tab</q-item-section>
              </q-item>
              <q-item clickable v-close-popup>
                <q-item-section>New incognito tab</q-item-section>
              </q-item>
              <q-separator />
              <q-item clickable v-close-popup>
                <q-item-section>Recent tabs</q-item-section>
              </q-item>
              <q-item clickable v-close-popup>
                <q-item-section>History</q-item-section>
              </q-item>
              <q-item clickable v-close-popup>
                <q-item-section>Downloads</q-item-section>
              </q-item>
              <q-separator />
              <q-item clickable v-close-popup>
                <q-item-section>Settings</q-item-section>
              </q-item>
              <q-separator />
              <q-item clickable v-close-popup>
                <q-item-section>Help &amp; Feedback</q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </q-btn>
      </q-bar>
      <div class="q-pa-xs q-pl-md row items-center">
        <div class="col-1">
          <q-btn-dropdown
          flat
          icon="source"
          size="10px"
          class="q-mx-xs cl-servitral bg-white full-width"
          label="item"
        >
        <div class="row no-wrap bg-blue-1" >
            <div class="column items-center">
              <template v-for="(ar, index) in listado" :key="index">
                <q-item v-if="index <= 4" clickable><q-item-section> {{ar.name}} </q-item-section></q-item>
              </template>
            </div>
            <q-separator vertical inset />
            <div class="column items-center" >
              <template v-for="(ar, index) in listado" :key="index">
                <q-item v-if="index >= 5 && index <= 9" clickable><q-item-section> {{ar.name}} </q-item-section></q-item>
              </template>
            </div>
            <q-separator vertical inset />
            <div class="column items-center" >
              <template v-for="(ar, index) in listado" :key="index">
                <q-item v-if="index >= 10 && index <= 16" clickable><q-item-section> {{ar.name}} </q-item-section></q-item>
              </template>
            </div>
        </div>
        </q-btn-dropdown>
        </div>
      </div>
    </q-header>
    <q-page-container>
      <router-view />
    </q-page-container>
    <!--<q-footer class="bg-servitral text-white flex items-center" style="height: 35px">
      <q-icon name="font_download" size="sm" />
      <q-icon name="font_download" size="sm" />
      <q-icon name="font_download" size="sm" />
      <q-icon name="font_download" size="sm" />
    </q-footer>-->
  </q-layout>
</template>
<script>
import { ref } from "vue";
import menuLogo from "../components/global/header/menuLogo.vue";
import menuProyect from "../components/global/header/menuProyect.vue";
export default {
  components: {
    menuLogo,
    menuProyect,
  },
  setup() {
    return {
      mobileData: ref(true),
      bluetooth: ref(false),
      listado: ref([
        {id:1, name:'Mantenimiento'},
        {id:2, name:'Pre uso'},
        {id:3, name:'Maquinaria'},
        {id:4, name:'Tienda Online'},
        {id:5, name:'Tienda Online'},
        {id:6, name:'Tienda Online'},
        {id:7, name:'Tienda Online'},
        {id:7, name:'Tienda Online'},
        {id:7, name:'Tienda Online'},
        {id:7, name:'Tienda Online'},
        {id:7, name:'Tienda Online'},
        {id:7, name:'Tienda Online'},
        {id:7, name:'Tienda Online'},
      ])
    };
  },
};
</script>
<style lang="sass">
.q-toolbar
  min-height: 45px
.q-item
  padding: 0px !important
.column
  flex: auto
.q-item__section
  padding: 0 6px !important

</style>
