<template>
  <q-layout view="lHh Lpr fff" class="bg-fondo">
    <q-header elevated class="text-white" height-hint="40">
      <q-toolbar class="GPL__toolbar bg-servitral" style="height: 40px">
        <q-btn
          flat
          dense
          round
          @click="toggleLeftDrawer"
          aria-label="Menu"
          icon="menu"
          class="q-mx-md"
        />

        <q-toolbar-title v-if="$q.screen.gt.sm" shrink class="row items-center no-wrap">
          <menuLogo :size="130" class="q-mr-sm" />
        </q-toolbar-title>

        <q-space />

        <menuProyect class="GPL__toolbar-input" />

        <div class="GPL__side-btn__label q-ml-sm q-px-md text-indigo-2" v-if="$q.screen.gt.xs">
          TIPO CAMBIO: <strong class="text-white">COMPRA = S/3.50</strong> - <strong class="text-white">VENTA = S/3.50</strong>
        </div>
        <div class="GPL__side-btn__label q-ml-sm q-px-md" v-if="$q.screen.gt.xs">
          <div class="text-green-2">
            <q-badge color="green" rounded class="q-mr-sm" />ACTIVO
          </div>
        </div>

        <q-space />

        <div class="q-gutter-sm row items-center no-wrap">
          <q-btn round dense flat color="white" icon="notifications">
            <q-badge color="red" text-color="white" floating>
              1
            </q-badge>
            <q-tooltip>Notifications</q-tooltip>
          </q-btn>
          <!--<q-btn round flat>
            <q-avatar size="26px">
              <img src="https://cdn.quasar.dev/img/boy-avatar.png">
            </q-avatar>
            <q-tooltip>Account</q-tooltip>
          </q-btn>-->
          <menuUser />
        </div>
      </q-toolbar>
    </q-header>

    <q-drawer v-model="leftDrawerOpen" bordered behavior="mobile">
      <q-scroll-area class="fit">
        <q-toolbar class="GPL__toolbar bg-servitral">
          <q-toolbar-title class="row items-center text-white">
            <img class="q-pl-md" src="~assets/img/servitral.png" style="width: 120px">
            <span class="q-ml-sm">Modulos</span>
          </q-toolbar-title>
        </q-toolbar>

        <q-list padding>
          <template v-if="modulosUsuario.length > 0">
            <EssentialLink v-for="link in modulosUsuario" :key="link.title" v-bind="link" class="GPL__drawer-item" />
            <q-separator class="q-my-md" />
          </template>
          <template v-else>
            <q-item clickable v-ripple inset-level="1" class="GPL__drawer-item">
              <q-item-section>Sin modulos</q-item-section>
            </q-item>
          </template>

          <q-item v-for="link in links3" :key="link.text" clickable class="GPL__drawer-item">
            <q-item-section avatar>
              <q-icon :name="link.icon" />
            </q-item-section>
            <q-item-section>
              <q-item-label>{{ link.text }}</q-item-label>
            </q-item-section>
          </q-item>

          <q-separator class="q-my-md" />

          <q-item clickable class="GPL__drawer-item GPL__drawer-item--storage">
            <q-item-section avatar>
              <q-icon name="cloud" />
            </q-item-section>
            <q-item-section top>
              <q-item-label>Storage</q-item-label>
              <q-linear-progress :value="storage" class="q-my-sm" />
              <q-item-label caption>2.6 GB of 15 GB</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-scroll-area>
    </q-drawer>
    <q-page-container>
      <router-view />
      <!--<q-page-sticky v-if="$q.screen.gt.sm" expand position="right">
        <div class="fit q-pt-xl q-px-sm column">
          <q-btn round flat color="grey-8" stack no-caps size="26px" class="GPL__side-btn">
            <q-icon size="22px" name="photo" />
            <div class="GPL__side-btn__label">Photos</div>
          </q-btn>

          <q-btn round flat color="grey-8" stack no-caps size="26px" class="GPL__side-btn">
            <q-icon size="22px" name="collections_bookmark" />
            <div class="GPL__side-btn__label">Albums</div>
          </q-btn>

          <q-btn round flat color="grey-8" stack no-caps size="26px" class="GPL__side-btn">
            <q-icon size="22px" name="assistant" />
            <div class="GPL__side-btn__label">Assistant</div>
            <q-badge floating color="red" text-color="white" style="top: 8px; right: 16px">
              1
            </q-badge>
          </q-btn>

          <q-btn round flat color="grey-8" stack no-caps size="26px" class="GPL__side-btn">
            <q-icon size="22px" name="group" />
            <div class="GPL__side-btn__label">Sharing</div>
          </q-btn>

          <q-btn round flat color="grey-8" stack no-caps size="26px" class="GPL__side-btn">
            <q-icon size="22px" name="import_contacts" />
            <div class="GPL__side-btn__label">Photo books</div>
          </q-btn>
        </div>
      </q-page-sticky>-->
    </q-page-container>
  </q-layout>
</template>

<script>
import { ref, computed, onMounted } from 'vue'
import { useStore } from "vuex";
import menuLogo from "../components/global/header/menuLogo.vue";
import menuProyect from "../components/global/header/menuProyect.vue";
import menuUser from "../components/global/header/menuUser.vue";
import EssentialLink from 'components/global/options/EssentialLink.vue'
export default {
  name: 'GooglePhotosLayout',
  components:{
    menuLogo,
    menuProyect,
    menuUser,
    EssentialLink
  },

  setup () {
    const leftDrawerOpen = ref(false)
    const search = ref('')
    const storage = ref(0.26)
    const store = useStore();

    function toggleLeftDrawer () {
      leftDrawerOpen.value = !leftDrawerOpen.value
    }
    const modulosUsuario= computed(() => store.getters['usuProyecto/modulosUsuario'])

    onMounted(async () => {
      await store.dispatch("usuProyecto/getMenu");
    });

    return {
      leftDrawerOpen,
      search,
      storage,
      modulosUsuario,
      "essentialLinks":[
        {
          "title":"RR.HH",
          "icon":"photo",
          "link":"recursos-humanos",
          "level":0,
          "children":[
            {
              "title":"Personal",
              "icon":"school",
              "link":"/recursos-humanos/personal",
              "level":1,
              "children":[]
            },
            {
                  "title":"Planilla",
                  "icon":"school",
                  "link":"https://quasar.dev",
                  "level":1,
                  "children":[

                  ]
            }
          ]
        },
        {
            "title":"Administrativo",
            "caption":"github.com/quasarframework",
            "icon":"photo_album",
            "link":"https://github.com/quasarframework",
            "level":0,
            "children":[
              {
                  "title":"Proyecto",
                  "icon":"school",
                  "link":"proyecto",
                  "level":1,
                  "children":[

                  ]
              }
            ]
        },
        {
            "title":"Cliente / Proveedor",
            "caption":"forum.quasar.dev",
            "icon":"assistant",
            "link":"https://forum.quasar.dev",
            "level":0,
            "children":[
              {
                  "title":"Forum Level 2",
                  "icon":"school",
                  "link":"https://quasar.dev",
                  "level":1,
                  "children":[

                  ]
              }
            ]
        },
        {
            "title":"Operaciones",
            "caption":"forum.quasar.dev",
            "icon":"people",
            "link":"https://forum.quasar.dev",
            "level":0,
            "children":[
              {
                  "title":"Forum Level 2",
                  "icon":"school",
                  "link":"https://quasar.dev",
                  "level":1,
                  "children":[

                  ]
              }
            ]
        },
        {
            "title":"Almacen",
            "caption":"forum.quasar.dev",
            "icon":"book",
            "link":"https://forum.quasar.dev",
            "level":0,
            "children":[
              {
                  "title":"Forum Level 2",
                  "icon":"school",
                  "link":"https://quasar.dev",
                  "level":1,
                  "children":[

                  ]
              }
            ]
        },
        {
            "title":"Micelanea",
            "caption":"forum.quasar.dev",
            "icon":"book",
            "link":"https://forum.quasar.dev",
            "level":0,
            "children":[
              {
                  "title":"Forum Level 2",
                  "icon":"school",
                  "link":"https://quasar.dev",
                  "level":1,
                  "children":[

                  ]
              }
            ]
        },
        {
            "title":"Maestro",
            "caption":"forum.quasar.dev",
            "icon":"book",
            "link":"https://forum.quasar.dev",
            "level":0,
            "children":[
              {
                  "title":"Forum Level 2",
                  "icon":"school",
                  "link":"https://quasar.dev",
                  "level":1,
                  "children":[

                  ]
              }
            ]
        },
        {
            "title":"Venta",
            "caption":"forum.quasar.dev",
            "icon":"book",
            "link":"https://forum.quasar.dev",
            "level":0,
            "children":[
              {
                  "title":"Forum Level 2",
                  "icon":"school",
                  "link":"https://quasar.dev",
                  "level":1,
                  "children":[

                  ]
              }
            ]
        },
        {
            "title":"Mantenimiento",
            "caption":"forum.quasar.dev",
            "icon":"book",
            "link":"https://forum.quasar.dev",
            "level":0,
            "children":[
              {
                  "title":"Forum Level 2",
                  "icon":"school",
                  "link":"https://quasar.dev",
                  "level":1,
                  "children":[

                  ]
              }
            ]
        },
        {
            "title":"Seguridad",
            "caption":"forum.quasar.dev",
            "icon":"book",
            "link":"https://forum.quasar.dev",
            "level":0,
            "children":[
              {
                  "title":"Forum Level 2",
                  "icon":"school",
                  "link":"https://quasar.dev",
                  "level":1,
                  "children":[

                  ]
              }
            ]
        },
        {
            "title":"Proyectos",
            "caption":"forum.quasar.dev",
            "icon":"book",
            "link":"https://forum.quasar.dev",
            "level":0,
            "children":[
              {
                  "title":"Forum Level 2",
                  "icon":"school",
                  "link":"https://quasar.dev",
                  "level":1,
                  "children":[

                  ]
              }
            ]
        },
      ],
      links3: [
        { icon: 'settings', text: 'Settings' },
        { icon: 'help', text: 'Help & Feedback' },
        { icon: 'get_app', text: 'App Downloads' }
      ],
      toggleLeftDrawer
    }
  }
}
</script>

<style lang="sass">
.GPL

  &__toolbar
    height: 40px

  &__toolbar-input
    width: 35%

  &__drawer-item
    line-height: 24px
    border-radius: 0 24px 24px 0
    margin-right: 12px

    .q-item__section--avatar
      padding-left: 12px
      .q-icon
        color: #5f6368

    .q-item__label:not(.q-item__label--caption)
      color: #3c4043
      letter-spacing: .01785714em
      font-size: .875rem
      font-weight: 500
      line-height: 1.25rem

    &--storage
      border-radius: 0
      margin-right: 0
      padding-top: 24px
      padding-bottom: 24px

  &__side-btn
    &__label
      font-size: 12px
      line-height: 24px
      letter-spacing: .01785714em
      font-weight: 500

  @media (min-width: 1024px)
    &__page-container
      padding-left: 94px
</style>
