<template>
  <q-layout view="lHh Lpr fff" class="bg-fondo">
    <q-header elevated class="text-white" height-hint="40">
      <q-toolbar class="GPL__toolbar bg-servitral" style="height: 40px">
        <q-btn
          flat
          dense
          round
          @click="toggleLeftDrawer"
          aria-label="Menu"
          icon="menu"
          class="q-mx-md"
        />
        <q-toolbar-title v-if="$q.screen.gt.sm" shrink class="row items-center no-wrap">
          <menuLogo :size="130" class="q-mr-sm" />
        </q-toolbar-title>

        <q-space />

        <div
          class="GPL__side-btn__label q-ml-sm q-px-md text-indigo-2"
          v-if="$q.screen.gt.xs"
        >
          TIPO CAMBIO: <strong class="text-white">COMPRA = S/3.50</strong> -
          <strong class="text-white">VENTA = S/3.50</strong>
        </div>
        <div class="GPL__side-btn__label q-ml-sm q-px-md" v-if="$q.screen.gt.xs">
          <div class="text-green-2">
            <q-badge color="green" rounded class="q-mr-sm" />ACTIVO
          </div>
        </div>

        <div class="q-gutter-sm row items-center no-wrap">
          <q-btn round dense flat color="white" icon="notifications">
            <q-badge color="red" text-color="white" floating>
              1
            </q-badge>
            <q-tooltip>Notifications</q-tooltip>
          </q-btn>
          <menuUser />
        </div>
      </q-toolbar>
    </q-header>
    <!--<q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      class="bg-grey-2"
      :width="240"
    >
      <q-scroll-area class="fit">
        <q-list padding>
          <q-item-label header class="text-weight-bold text-uppercase">
            More from Youtube
          </q-item-label>
        </q-list>
      </q-scroll-area>
    </q-drawer>-->
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>
<script>
import { ref } from "vue";
import menuLogo from "../components/global/header/menuLogo.vue";
import menuUser from "../components/global/header/menuUser.vue";
export default {
  name: "GooglePhotosLayout",
  components: {
    menuLogo,
    menuUser,
  },
  setup() {
    const leftDrawerOpen = ref(false);
    function toggleLeftDrawer() {
      leftDrawerOpen.value = !leftDrawerOpen.value;
    }
    return {
      leftDrawerOpen,
      toggleLeftDrawer,
    };
  },
};
</script>
