<template>
  <q-layout view="lHh Lpr lFf">
    <!--<q-header elevated class="flex items-center justify-center bg-raya" style="height: 5px">
      <h6 class="text-light-blue-4 text-weight-light">
        Sistema de Gestion Minero<strong> ( S.G.M )</strong>
      </h6>
    </q-header>-->
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>
